* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: url(fnd.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.contenedor .form .form-header .form-title {
	font-weight: normal; 
	font-family: sans-serif;
	color: #fff;
	text-align: center;
	padding: 14px 0;
}

.contenedor .form .form-header .form-title span{
	color: #fff;
}

.contenedor .form{
	background: rgba(0,0,0,.35);
	width: 90%;
	max-width: 650px;
	margin: auto;
	padding: 5px 35px;
	margin-top: 30px;
	padding-bottom: 30px;
	border-radius: 3px;
}

.contenedor .form .form-label{
	display: block; 
	color:#33D4FF;
	font-size: 16px; 
	font-family: Roboto;
	position: relative;
}

.contenedor .form  .form-input, .form-textarea{
	background: rgba(0,0,0,.5);
	border: none;
	outline: none;
	border-bottom: 2px solid #ff851b;
	width: 100%;
	padding: 12px;
	margin-bottom: 20px; 
	border-radius: 2px;
	font-size: 14px;
	color: #FFF;
	font-family: Roboto;
}

.contenedor .form .form-textarea {

	resize: vertical;
	max-height:  150px;
	min-height: 50px;
}

 
.contenedor .form .btn-submit {

	width: 100%;
	font-family: Roboto;
	outline: none;
	color: #f851b;
	background: rgba(0,0,0,.2);
	font-size: 16px;
	border: none;
	color: #fff;
	padding: 15px 0;
	cursor: pointer; 
}

.contenedor .form .btn-del {

	width: 100%;
	font-family: Roboto;
	outline: none;
	color: #f851b;
	background: rgba(0,0,0,.2);
	font-size: 16px;
	border: none;
	color: #fff;
	padding: 15px 0;
	cursor: pointer; 
}
.contenedor .form .btn-del: hover {
	background: #F29446;


}
.contenedor .form .btn-submit: hover {
	background: #F29446;}
